@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --arc-io-purple: #7b4dff;
    --backg-color: #090a0c;
    --text-green: #22c55e;
    --text-grey: #63707f;
    --button-green: #1eb154;
    --button-grey: #12151b;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.main_body{
    background-color: violet;
}

/* Navbar Section */

#active-tab{
    color: var(--text-green) !important;
}

.navbar_section .navbar-brand{
    font-size: 22px;
}

.navbar_section .navbar-brand span{
    color: var(--text-green);
}

.navbar_section .navbar-nav li{
    margin: 0px 8px;
}

.navbar_section .navbar-nav li a{
    color: white !important;
    font-size: 15px;
}
.navbar_section .navbar-nav li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--text-green);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar_section .navbar-nav li a:hover::after{
    width: 100%;
}

/* Hero Section */